#image-preview-A {
    width: 150px; /* กำหนดขนาดตามต้องการ */
    height: 80px;
    background-size: cover;
    background-position: center;
}

#image-preview-B {
    width: 150px; /* กำหนดขนาดตามต้องการ */
    height: 80px;
    background-size: cover;
    background-position: center;
}

#image-preview-C {
    width: 150px; /* กำหนดขนาดตามต้องการ */
    height: 80px;
    background-size: cover;
    background-position: center;
}

#image-preview-D {
    width: 170px; /* กำหนดขนาดตามต้องการ */
    height: 120px;
    background-size: cover;
    background-position: center;
}

#image-preview-E {
    width: 170px; /* กำหนดขนาดตามต้องการ */
    height: 120px;
    background-size: cover;
    background-position: center;
}

/* Utility class to hide modal */
.hidden-modal {
  display: none;
}

.image-preview, 
.modal-image-preview { 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain; 
}